
@import "resources/css/base/_variables.scss";
@import "resources/css/base/_mixins.scss";

.logo {

    a{

        display: flex;
        align-items: center;
        font-weight: bold;
        p{
            color: $negro;
            font-size: 1.8rem;
            & > span{
        color: $gris;
        font-size: 1.8rem;
    }
        }

    }
    img{
        width: 4rem;
    }



}

.header{
    background-color: $blanco;

}

.navegacion a{
    color: $gris;
    font-size: 1.6rem;


    span{
        color: $blanco;
        font-size: 1.6rem;
    }


}

.btn-outline-success{
    font-size: 1.6rem;
    color: $primario;
    border: 1px solid $primario;
}

.inputBuscar{
    width: 10rem;
    height: 4rem;
    @include tablet{
      width: 25rem;
    height: 4rem;
    }
}
.btnBuscar{
    @include tablet{
        width: 24rem;

    }
    width: 8rem !important;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

}




.fotoPerfil{
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    

}

.menu-usuario{
    border-radius: 1rem;
    width: 25rem !important;



}
.prefil-menu{
    padding: 2rem 3rem;
}
.perfil-name{
    p{
        font-size: 1.8rem;
        span{
            font-size: 1.8rem;
        }
    }
}

.btn-cerrar{

}
