@import "resources/css/base/_variables.scss";
@import "resources/css/base/_mixins.scss";


.bg-inicio{
    height: 60rem;
    background-color: $primario;
    color: $blanco;
    padding: 3rem ;
    background-image: url('../../../public/img/bg-inicio-m.png');
    h1{
        font-size: 2.8rem;
    }
    p{
        font-size: 1.6rem;
    }


    @include tablet{
        background-image: url('../../../public/img/bg-inicio-t.png');
        background-position: center center;
        height: 40rem;
        padding: 3rem 10rem ;


    }
    @include desktop{
        background-image: url('../../../public/img/bg-inicio-d.png');
        h1{
            font-size: 4rem;
        }
        p{
            font-size: 2rem;
        }
    }
    @include desktopfull{
       height: 50rem;
    }
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-negro{
    background-color: $negro;
    color: $blanco;
    width: 20rem;

}

.texto-header{
    width: 100%;
    margin: 0;
@include tablet{
    width: 75%;
}
@include desktop{
    width: 80%;

}
}


.beneficios{

    h2{
        font-size: 2.5rem;
        color: $primario;
    }
    h3{
        font-size: 2rem;
    }
    p{
        font-size: 1.6rem;
    }
}

.cursos-populares{
    h2{
        font-size: 4rem;
        font-weight: $semiBold;
    }
    p{
        font-size: 2rem;
    }
}
.card {
    width: 30rem !important;
    height: 45rem;
    padding: 0;
    text-align: left;
    border: none;
    transition: transform 0.3s, box-shadow 0.3s; /* Agregar transición para transform y box-shadow */

    h3 {
        font-weight: $bold;
        font-size: 2rem;
    }

    p {
        font-size: 1.6rem;
    }

    /* Agregar estilos al hacer hover */
    &:hover {
        transform: scale(1.05); /* Escalar la tarjeta al 105% del tamaño original */
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Agregar una sombra al hacer hover */
    }
}
.cardsCursos{
    display: grid;
    gap: 2rem;
    justify-items: center;
    @include tablet{
        grid-template-columns:repeat(2,1fr);

    }
    @include desktop{
        grid-template-columns: repeat(4,1fr);
    }
}

.populares-banner {
    background-color: rgba($primario, 0.3); // Agrega opacidad al color de fondo
    border-radius: 1rem;
  
    gap: 3rem;

    @include tablet{
        gap: 3rem;
    }
    @include desktop{
        gap: 6rem;
    }



    a {

        font-size: 1.8rem;
        font-weight: $semiBold;
    }

  }

  .active{
    background-color: $primario;
    padding: 1rem 2rem;
    border-radius: .5rem;
    color: $blanco;
}
 .banner-classFree{
    height: 30rem;
    border-radius: 1rem;
    background-image: url('../../../public/img/bg-banner.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
   

    & -texto{
        filter: none;
        position: absolute;
       
    }
} 

 .contenedor-paqutes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
 }

 .card-paquete{
    width: 30rem;
    height: 45rem;
    padding: 3rem 2rem;
    border-radius: 1rem;
    text-align: left;
    border:none;
  
    h3{
        font-weight: $semiBold;
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    p{
        font-size: 2.5rem;
        color: $primario;
        span{
            font-size: 1.5rem;
        }
    }
    .btn{
        width: 100%;
    }

    a{
        color: $blanco;
    }
    ul{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
 }

.basico{
    background-color: $blanco;
    h3{
       color: $negro;
    }
    p{
        
        color: $primario;
        
    }
    .btn{
        width: 100%;
    }

    a{
        color: $blanco;
    }
}
.completo{
    background-color: $primario;
    h3{
       color: $blanco;
    }
    p{
        
        color: $blanco;
        
    }
    .btn{
        width: 100%;
    }
    li{
        color: $blanco;
    }
}