.banner-nuevoCurso{
    padding: 5rem 10rem;
}

.procesos-Crear{


}

.paso{
    span{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5rem;
        height: 5rem;
        border: 1px solid #000;
        border-radius: 50%;
    }
}
