@use 'variables' as v;
@use 'mixins' as m;

.btn{
    font-weight: v.$bold;
    background-color: v.$primario;
    border: none;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
}

.btn-block{
    width: 100%;
}