@use 'variables' as v;
@use 'mixins' as m;

html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: v.$fondo;


    /* 1rem = 10px */

}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: v.$fuente__principal;
    font-size: 1.6rem;
    height: 100%;
    background-color: v.$fondo;
}

a{
    text-decoration: none;
    font-size: 1.6rem;
    margin: 0;


}
p{
    margin: 0;
    font-size: 16px;
}


h1{
    font-size: 3.6rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2.5rem;
}
h1, h2, h3 {
    margin: 0 0 2rem  0 ;
}

.btn-google{
    margin-top: 2rem;
    border: solid 1px v.$gris;
}


p.text-danger {
    margin: 0 !important;
    padding: 0 !important;
}

.btn:hover {
    cursor: pointer;
    background-color: darken( v.$primario,  30%);
}

.logo{
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    font-family: v.$fuente__logo;
    font-weight: 600;
    div{
        color: v.$primario;
        font-weight: v.$bold;
        font-size: 3.5rem;
        margin: 0;
        padding: 0;
    }
}

.bg-primario{
    background-color: v.$primario;
}

.d-none{
    display: none;
}

.d-block{
    display: block;
}

.sombra{

    border: solid .1rem lighten(v.$gris, 40%);
    border-radius: 1rem;
}

.bg-blanco{
    background-color: v.$blanco;
}

.active{
    background-color: v.$primario;
    color: v.$blanco !important;
    border-radius: .5rem;

    a{
        color: v.$blanco !important;
    }
}

.form-switch .form-check-input {
    border-color: v.$gris;
    height: 1.6em;
    margin-right: 0.5rem;
    width: 5rem;
    background-color: v.$primario;
}

